<div class="box">
  <div class="box-body table-responsive no-padding">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>ID Pedido</th>
          <th>Cliente</th>
          <th>Data de Entrada</th>
          <th>Data de Atendimento</th>
          <th>Atendido Por</th>
          <th>Preço</th>
          <th>Acções</th>
        </tr>
        <tr ng-repeat="request in satisfiedRequests">
          <td><b>#{{request.id}}</b></td>
          <td>{{request.consumer}}</td>
          <td>{{request.arrivalTimestamp}}</td>
          <td>{{request.finishedTimestamp}}</td>
          <td>{{request.employeeAttended}}</td>
          <td>{{request.cost}}</td>
          <td><button class="btn bg-purple" ng-click="liftRequest(request.id)"><i class="fa fa-rocket" style="margin-right: 0.2em;"></i>Levantar</button></td>
        </tr>
      </tbody>
    </table>
    <div class="box-footer clearfix">
      <ul class="pagination pagination-sm no-margin pull-right">
        <li><a href="#">«</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">»</a></li>
      </ul>
    </div>
  </div>
</div>
