<div class="row">
  <div class="col-md-8" style="float:right;">
    <div class="form-group has-feedback" style="margin-top: 2%;width:55%;">
      <input type="text" class="form-control" ng-model="requestSearch" name="search" id="search" placeholder="Pesquise por cliente...">
      <span class="glyphicon glyphicon-search form-control-feedback"></span>
    </div>
  </div>
</div>
<div class="box">
  <div class="box-body table-responsive no-padding">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>ID Pedido</th>
          <th>Cliente</th>
          <th>Data de Entrada</th>
          <th>Data de Atendimento</th>
          <th>Atendido Por</th>
          <th>Preço</th>
          <th>Data de Levantamento</th>
        </tr>
        <tr ng-repeat="request in historyRequests | filter:filterRequests">
          <td><b>#{{request.id}}</b></td>
          <td>{{request.consumer}}</td>
          <td>{{request.arrivalTimestamp}}</td>
          <td>{{request.finishedTimestamp}}</td>
          <td>{{request.employeeAttended}}</td>
          <td>{{request.cost}}</td>
          <td>{{request.liftedTimestamp}}</td>
        </tr>
      </tbody>
    </table>
    <div class="box-footer clearfix">
      <ul class="pagination pagination-sm no-margin pull-right">
        <li><a href="#">«</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">»</a></li>
      </ul>
    </div>
  </div>
</div>
