<div class="loader" ng-show="isDataLoading"></div>
<div ng-hide="isDataLoading">
  <div class="row">
    <div class="col-md-8" style="float:right;">
      <div class="form-group has-feedback" style="margin-top: 2%;width:55%;">
        <input type="text" class="form-control" ng-model="requestSearch" name="search" id="search" placeholder="Pesquise por cliente...">
        <span class="glyphicon glyphicon-search form-control-feedback"></span>
      </div>
    </div>
  </div>
  <div class="box">
    <div class="box-body table-responsive no-padding">
      <table class="table table-striped">
        <tbody>
          <tr>
            <th>ID Pedido</th>
            <th>Cliente</th>
            <th>Data de Entrada</th>
            <th>Data de Atendimento</th>
            <th>Atendido Por</th>
            <th>Preço</th>
            <th>Acções</th>
          </tr>
          <tr ng-repeat="request in satisfiedRequests | filter:filterRequests | startFrom: pagination.page * pagination.perPage | limitTo: pagination.perPage">
            <td><b>#{{request.id}}</b></td>
            <td>{{request.consumer.name}}</td>
            <td>{{request.arrivalTimestamp}}</td>
            <td>{{request.finishedTimestamp}}</td>
            <td>{{request.empAttended}}</td>
            <td>{{request.cost | number : 2}} €</td>
            <td><button class="btn btn-flat bg-purple" ng-click="liftRequest(request.id, 'Tem a certeza que quer efetuar o levantamento do pedido número ' + request.id + '?')"><i class="fa fa-rocket" style="margin-right: 0.2em;"></i>Levantar</button></td>
          </tr>
        </tbody>
      </table>
      <div ng-show="paginationOn" class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right">
          <li><a href="" ng-click="pagination.prevPage()">&laquo;</a></li>
          <li ng-repeat="n in [] | range: pagination.numPages" ng-class="{active: n == pagination.page}">
            <a href="" ng-click="pagination.toPageId(n)">{{n + 1}}</a>
          </li>
          <li><a href="" ng-click="pagination.nextPage()">&raquo;</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
