<div class="box">
  <div class="box-body table-responsive no-padding">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>ID Pedido</th>
          <th>Cliente</th>
          <th>Data de Entrada</th>
          <th>Ações</th>
          <th></th>
        </tr>
        <tr ng-repeat="request in pendingRequests">
          <td><b>{{request.id}}</b></td>
          <td>{{request.consumer}}</td>
          <td>{{request.arrivalTimestamp}}</td>
          <td><button class="btn btn-success" ng-click="attendRequest(request.id)"><i class="fa fa-level-up" style="margin-right: 0.2em;"></i>Atender</button></td>
          <td><button class="btn btn-danger" ng-click="cancelRequest(request.id)"><i class="fa fa-times" style="margin-right: 0.2em;"></i>Cancelar pedido</button></td>
        </tr>
      </tbody>
    </table>
    <div ng-show="paginationOn" class="box-footer clearfix">
      <ul class="pagination pagination-sm no-margin pull-right">
        <li><a href="#">«</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">»</a></li>
      </ul>
    </div>
  </div>
</div>
