<div class="wrapper">

  <!-- Main Header -->
  <header class="main-header">

    <!-- Logo -->
    <a href="#" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>PP</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Proxy</b>Print</span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- User Account Menu -->
          <li class="dropdown user user-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <!-- The user image in the navbar-->
              <img src="../../../../assets/adminlte/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
              <!-- hidden-xs hides the username on small devices so only the image appears. -->
              <span class="hidden-xs">Brandão Machado</span>
            </a>
            <ul class="dropdown-menu">
              <!-- The user image in the menu -->
              <li class="user-header">
                <img src="../../../../assets/adminlte/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                <p>
                  Brandão Machado - Funcionário
                </p>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <center>
                  <div>
                    <a href="#" class="btn btn-default btn-flat">Sign out</a>
                  </div>
                </center>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- Sidebar user panel (optional) -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="../../../../assets/adminlte/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Brandão Machado</p>
          <!-- Status -->
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        <li class="header">Opções</li>
        <!-- Optionally, you can add icons to the links -->
        <li class="active"><a href="#"><i class="fa fa-hourglass-half"></i> <span>Pedidos Pendentes</span></a></li>
        <li><a href="satisfied.html"><i class="fa fa-check"></i> <span>Pedidos Satisfeitos</span></a></li>
        <li><a href="history.html"><i class="fa fa-history"></i> <span>Histórico de Pedidos</span></a></li>
      </ul><!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Pedidos Pendentes
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Your Page Content Here -->
    <div class="box">
      <div class="box-body table-responsive no-padding">
        <table class="table table-striped">
          <tbody>
            <tr>
              <th>ID Pedido</th>
              <th>Cliente</th>
              <th>Data de Entrada</th>
              <th>Ações</th>
              <th></th>
            </tr>
            <tr>
              <td><b>#183</b></td>
              <td>John Doe</td>
              <td>11/7/2014<br/>12:15</td>
              <td><a href="#" class="btn btn-success"><i class="fa fa-level-up" style="margin-right: 0.2em;"></i>Atender</a></td>
              <td><a href="#" class="btn btn-danger"><i class="fa fa-times" style="margin-right: 0.2em;"></i>Cancelar pedido</a></td>
            </tr>
            <tr>
              <td><b>#219</b></td>
              <td>Alexander Pierce</td>
              <td>10/7/2014<br/>22:12</td>
              <td><a href="#" class="btn btn-success"><i class="fa fa-level-up" style="margin-right: 0.2em;"></i>Atender</a></td>
              <td><a href="#" class="btn btn-danger"><i class="fa fa-times" style="margin-right: 0.2em;"></i>Cancelar pedido</a></td>
            </tr>
            <tr>
              <td><b>#657</b></td>
              <td>Bob Doe</td>
              <td>10/7/2014<br/>21:12</td>
              <td><a href="#" class="btn btn-success"><i class="fa fa-level-up" style="margin-right: 0.2em;"></i>Atender</a></td>
              <td><a href="#" class="btn btn-danger"><i class="fa fa-times" style="margin-right: 0.2em;"></i>Cancelar pedido</a></td>
            </tr>
          </tbody>
        </table>
        <div class="box-footer clearfix">
          <ul class="pagination pagination-sm no-margin pull-right">
            <li><a href="#">«</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">»</a></li>
          </ul>
        </div>
      </div>
    </div>

    </section><!-- /.content -->
  </div><!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      ProxyPrint
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2016 <a href="#">ProxyPrint</a>.</strong> All rights reserved.
  </footer>

</div><!-- ./wrapper -->

<!-- AdminLTE -->
<!-- jQuery 2.1.4 -->
<script src="../../../../assets/adminlte/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<!-- Bootstrap 3.3.5 -->
<script src="../../../../assets/adminlte/bootstrap/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="../../../../assets/adminlte/dist/js/app.min.js"></script>
<script>
  $(document).ready(function(){
    console.log("crying...");
    //$("link[title='assets/css1/styles.css']").disabled=true;
    $("#style_home").attr('disabled', 'disabled');
  });
</script>
