<div class="row">
  <div class="col-sm-8">


    <div class="dndbox">
      <div ngf-drop="addFiles($files)" ngf-select="addFiles($files)" ng-model="files" class="drop-box" ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true" accept="application/pdf" ngf-pattern="'application/pdf'">
        <br />
        <h4>Arraste ficheiros ou clique para fazer upload</h4>
        <i class="fa fa-upload fa-4x"></i>
        <div class="uploaded-files-box">
          Ficheiros selecionados:
          <div class="row" ng-repeat="file in pdfFiles" ng-if="$index % 3 == 0">
            <div class="col-sm-4">
              {{$index+1}}. {{file.name}}
            </div>
            <div class="col-sm-4">
              <div ng-if="pdfFiles[$index + 1]!= null">{{$index+2}}.  {{pdfFiles[$index+1].name}}</div>
            </div>
            <div class="col-sm-4">
              <div ng-if="pdfFiles[$index + 2]!= null">{{$index+3}}.  {{pdfFiles[$index+2].name}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <div style="text-align:center">
      <button ng-class="pdfFiles.length===0 ? 'button button-rounded button-primary' : 'button button-rounded button-primary'" ng-click="uploadFiles()" ng-disabled="pdfFiles.length===0">Submeter pedido</button>
      <button class="button button-rounded button-caution" ng-disabled="pdfFiles.length==0" ng-click="resetRequest()">Reiniciar pedido</button>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="center">
      <h2> Pedidos pendentes </h2>
    </div>
    <div ng-show="pendingRequests.length>0" class="scrollableTable">
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="request in pendingRequests">
          <div class="row">
            <div class="col-sm-6">
              <strong> Pedido #{{request.id}} </strong>
              <br/> {{request.arrivalTimestamp}}
            </div>
            <div class="col-sm-6">
            </div>
            <div class="col-sm-6">
              <button type="button" style="margin-top:10%" class="button button-rounded button-tiny" ng-click="openRejectModal('Tem a certeza que quer cancelar o pedido?', request.id)">Cancelar pedido</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div ng-show="pendingRequests.length==0" class="scrollableTable-alt">
      <div class="scrollableTable-alt-text">
        <h4>Não tem nenhum pedido pendente.</h4>
      </div>
    </div>
  </div>
</div>
