<div class="margin-top">
   <nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container-fluid">
         <div class="navbar-header">
            <a class="navbar-brand" href="#">ProxyPrint</a>
         </div>
         <ul class="nav navbar-nav navbar-right">
            <li class="navbar-brand">
              {{consumer.username}}
            </li>
            <li>
               <a href="#">
                  <span class="glyphicon glyphicon-bell"></span></a>
            </li>
            <li>
               <a ui-sref=".settings">
                  <span class="glyphicon glyphicon-cog"></span>
               </a>
            </li>
            <li>
               <a ng-click="logout()">
                  <span class="glyphicon glyphicon-log-in" ng-click="logout()"></span>
                  Logout</a>
            </li>
         </ul>
      </div>
   </nav>

   <div class="container-fluid">

      <div class="row row-offcanvas row-offcanvas-left">

         <div id="sidebar" class="col-sm-3 col-md-2 sidebar-offcanvas" role="navigation">

            <ul class="nav nav-sidebar">
               <li><a href="#">Home</a></li>
               <li><a href="#">Print Shops</a><li>
               <li><a href="#">History Request</a><li>
            </ul>

         </div>
         <!--/span-->

         <div class="col-sm-9 col-md-10 main">

            <!--toggle sidebar button-->
            <p class="visible-xs">
               <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">
                  <i class="glyphicon glyphicon-chevron-left"></i>
               </button>
            </p>

            <br>
            <div ui-view>
               <a button type="button" class="btn btn-primary" ng-click="testSecured()">SECURED</a>
               <a button type="button" class="btn btn-primary" ng-click="logout()">Log out</a>
               user main page
            </div>

         </div>
         <!--/row-->
      </div>
   </div>
   <!--/.container-->
</div>
