<div style="overflow-x: hidden;">
    <div id="custom-bootstrap-menu" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand" href="#">ProxyPrint</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse navbar-menubuilder navbar-right">
                <ul class="nav navbar-nav navbar-left">
                    <li>{{consumer.username}}
                    </li>
                    <li>
                        <a href="#">
                            <notification-icon count='notifications'>
                                <i class="fa fa-bell-o"></i>
                            </notification-icon>
                        </a>
                    </li>
                    <li><a ui-sref=".settings"><i class="fa fa-cog"></i></a>
                    </li>
                    <li><a ui-sref="home"><i class="fa fa-sign-out" ng-click"logout()"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid">

        <div class="row row-offcanvas row-offcanvas-left">

            <div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">

                <ul class="nav nav-sidebar">
                    <li><a ui-sref=".mainpage"><i class="fa fa-home fa-lg"></i> Início</a></li>
                    <li><a ui-sref=".printshoplist"><i class="fa fa-book fa-lg"></i> Reprografias</a></li>
                    <li><a ui-sref=".history"><i class="fa fa-history fa-lg"></i> Histórico</a></li>
                </ul>
            </div>
            <!--/span-->

            <div class="col-sm-9 col-md-10 main">
                    <div ui-view>
                        <div class="row">
                            <div class="col-sm-8">
                              <div class="dndbox">
                                <div ngf-drop="uploadFiles($files)" ngf-select ng-model="files" class="drop-box" ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true" accept="image/*,application/pdf" ngf-pattern="'image/*,application/pdf'">
                                    <h4>Arraste ficheiros/Clique</h4>
                                    <br>
                                    <br>
                                    <i class="fa fa-upload fa-4x"></i>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="center">
                                    <h2> Pedidos pendentes </h2>
                                </div>
                                <div class="scrollableTable">
                                    <ul class="list-group">
                                        <li class="list-group-item" ng-repeat="request in pendingRequests">
                                            <div class="row">
                                              <div class="col-sm-6">
                                                <strong> Pedido #{{request.requestID}} </strong><br />
                                                {{request.day}} {{request.hour}}
                                              </div>
                                              <div class="col-sm-6">

                                              </div>
                                              <div class="col-sm-6">
                                                <button type="button" class="btn btn-default">Cancelar pedido</button>
                                              </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>

            </div>
            <!--/row-->
        </div>
    </div>
</div>
<footer class="footer-distributed">

  <div class="footer-right">

    <span class="fa-stack fa-lg">
  <i class="fa fa-square-o fa-stack-2x"></i>
  <i class="fa fa-twitter fa-stack-1x"></i>
</span>
    <a href="#"><i class="fa fa-facebook icon-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-github"></i></a>

  </div>

  <div class="footer-left">

    <p class="footer-links">
      <a href="http://www.louisvuitton.com/">Home</a>
      ·
      <a href="https://pt.wikipedia.org/wiki/Tautologia_(l%C3%B3gica)">About</a>
      ·
      <a href="https://www.youtube.com/watch?v=7ZHa_ZOV6C8">Contact</a>
    </p>

    <p>ProxyPrint &copy; 2016</p>
  </div>

</footer>

<!--/.container-->

<script type="text/javascript">
    $(document).ready(function() {
        $("#notificationLink").click(function() {
            $("#notificationContainer").fadeToggle(300);
            $("#notification_count").fadeOut("slow");
            return false;
        });

        //Document Click hiding the popup
        $(document).click(function() {
            $("#notificationContainer").hide();
        });

        //Popup on click
        $("#notificationContainer").click(function() {
            return false;
        });

    });
</script>
