
  <h2>Histórico de pedidos</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Data do pedido</th>
        <th>Data de levantamento</th>
        <th>Status</th>
        <th>Reprografia</th>
        <th>Custo</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat = "request in requests">
         <td>{{request.printrequest.id}}</td>
         <td>{{request.printrequest.arrivalTimestamp}}</td>
         <td>{{request.printrequest.deliveredTimestamp}}</td>
         <td>{{request.printrequest.status}}</td>
         <td>{{request.printshop}}</td>
         <td>{{request.printrequest.cost | number : 2}} €</td>
    </tbody>
  </table>
