    <div class="dndbox">
        <div class="center">
            <h2> Novo pedido </h2>
        </div>
        <div ngf-drop="uploadFiles($files)" ngf-select ng-model="files" class="drop-box"
      ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
      accept="image/*,application/pdf"
      ngf-pattern="'image/*,application/pdf'">
          <h4>Arraste ficheiros/Clique</h4>
          <br>
          <br>
          <i class="fa fa-upload fa-4x"></i>
        </div>
    </div>
    <div class="pendingRequests">
      <div class="center">
      <h2> Pedidos pendentes </h2>
   </div>
        <div class="scrollableTable">
            <ul class="list-group" >
                <li class="list-group-item clearfix" ng-repeat="request in pendingRequests">
                    <div class="left">
                        <strong> Pedido #{{request.requestID}} </strong>
                    </div>
                    <div class="right">
                        {{request.day}} {{request.hour}}
                    </div>
                    <br>
                    <div class="center">
                        <button type="button" class="btn btn-default">Cancelar pedido</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
