<div class="container">
	<div class="row">
           <div id="custom-search-input">
                            <div class="input-group col-md-12">
                                <input type="text" class="  search-query form-control" placeholder="Pesquise uma reprografia"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
	      </div>
</div>

<table ng-table="tableParams" class="table table-striped table-bordered table-hover table-condensed">
        <tr ng-repeat="printshop in $data">
            <td data-title="'name'">{{printshop.name}}</td>
            <td data-title="'address'">{{printshop.address}}</td>
            <td data-title="'rating'">{{printshop.rating}}</td>
        </tr>
</table>
