<div class="row">
    <div class="col-sm-8">


        <div class="dndbox">
            <div ngf-drop="addFiles($files)" ngf-select="addFiles($files)" ng-model="files" class="drop-box" ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true" accept="application/pdf" ngf-pattern="'application/pdf'">
                <br />
                <h4>Arraste ficheiros ou clique para fazer upload</h4>
                <i class="fa fa-upload fa-4x"></i>
                <div class="uploaded-files-box">
                    Ficheiros selecionados:
                    <div class="row" ng-repeat="file in pdfFiles" ng-if="$index % 3 == 0">
                        <div class="col-sm-4">
                            {{$index+1}}. {{file.name}}
                        </div>
                        <div class="col-sm-4">
                            <div ng-if="pdfFiles[$index + 1]!= null">{{$index+2}}.  {{pdfFiles[$index+1].name}}</div>
                        </div>
                        <div class="col-sm-4">
                            <div ng-if="pdfFiles[$index + 2]!= null">{{$index+3}}.  {{pdfFiles[$index+2].name}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div style="text-align:center">
            <button class="btn btn-primary" ng-click="uploadFiles()">Submeter pedido</button>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="center">
            <h2> Pedidos pendentes </h2>
        </div>
        <div class="scrollableTable">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="request in pendingRequests">
                    <div class="row">
                        <div class="col-sm-6">
                            <strong> Pedido #{{request.requestID}} </strong>
                            <br /> {{request.day}} {{request.hour}}
                        </div>
                        <div class="col-sm-6">

                        </div>
                        <div class="col-sm-6">
                            <button type="button" class="btn btn-default">Cancelar pedido</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
