<span us-spinner="{radius:40, width:8, length: 30}" spinner-key="consumer-spinner" spinner-theme="bigBlue"></span>

<div id="custom-bootstrap-menu" class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-default">
      <div class="navbar-header">
        <span class="navbar-logo">
          <span><img src="assets/img/logo/logo_white.png" width="40" height="40" style="margin-top: 2%;"/></span>
        </span>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </button>
      </div>
    </div>
    <div class="navbar-text">
      <strong style="margin-left:1%;font-size:120%;color:white;">ProxyPrint</strong>
    </div>
    <div class="collapse navbar-collapse navbar-menubuilder navbar-right">
      <ul class="nav navbar-nav navbar-left">
        <li>
          <a href="">{{consumer.username}}</a>
        </li>
        <li>
          <a ui-sref=".settings" data-toggle="tooltip" title="O seu saldo ProxyPrint" class="tooltiptext tooltip-bottom">
            <i style="color:yellow;" class="hvr-bounce-in fa fa-database" aria-hidden="true"></i>
            <span ng-if="balance.integerPart!==0 && balance.fractionalPart!==0">{{balance.integerPart}}.{{balance.fractionalPart}}  €</span>
            <span ng-if="balance.integerPart===0 && balance.fractionalPart===0">0 €</span>
          </a>
        </li>
        <li id="notification_li">
          <a href="" id="notificationLink">
            <notification-icon count="newNotifications" animation="bounce">
              <i class="fa fa-icon fa-bell-o"></i>
            </notification-icon>
          </a>
          <div id="notificationContainer">
            <div id="notificationTitle">
              <div class="center">Notificações</div>
            </div>
            <div id="notificationsBody" class="notifications">
            </div>

            <div class="notifications-scrollable-box">

              <ul class="list-group">
                <li class="list-group-item" ng-repeat="notification in notifications">
                  <div class="notification-messages">
                    {{notification.message}}
                  </div>


                  <div class="inline-buttons">
                    <button ng-show="!notification.read" ng-click="readNotification($index)" class="button button-flat button-primary button-border button-circle button-small"><i class="fa fa-check"></i></button>
                    <button class="button button-inverse button-flat button-caution button-circle button-border button-small" ng-click="removeNotification($index)"><i class="fa fa-times"></i></button>
                  </div>
                  <div class="notification-date">
                    <div class="xsmall-font">{{notification.day}}, {{notification.hour}}</div>
                  </div>
                </li>
              </ul>
            </div>
            <div id="notificationFooter"><a class="left" ng-click="removeAllNotifications()" href="/">Remover tudo</a><a href="/" ng-click="markAllRead()">Marcar tudo como lido</a></div>
          </div>
        </li>
        <li style="margin-top:5%; margin-left:-2%;">
          <div class="btn-group">
            <button type="button" class="dropdown-navbar-button"></button>
            <button type="button" class="dropdown-navbar-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a ui-sref=".settings"><i class="fa fa-icon fa-cog fa-lg" style="color:#3A6DB0;margin-right:2%;"></i>  Definições</a></li>
              <li>
                <a ui-sref="home" ng-click"logout()"><i class="fa fa-icon fa-sign-out fa-lg" style="color:#3A6DB0;margin-right:2%;"></i>  Saír</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div id="content">
  <div class="container-fluid">



    <div class="row row-offcanvas row-offcanvas-left">

      <div class="col-sm-3 col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">

        <ul class="nav nav-sidebar">
          <li><a ui-sref=".mainpage"><i class="fa fa-home fa-lg"></i> Início</a></li>
          <li><a ui-sref=".printshoplist"><i class="fa fa-book fa-lg"></i> Reprografias</a></li>
          <li><a ui-sref=".history"><i class="fa fa-history fa-lg"></i> Histórico</a></li>
        </ul>
      </div>
      <!--/span-->

      <div class="col-sm-9 col-md-10 main">

        <div ui-view></div>

      </div>
      <!--/row-->
    </div>
  </div>
</div>
<footer class="footer-distributed">

  <div class="footer-right">

    <span class="fa-stack fa-lg fa-white-icon">
      <i class="fa fa-square-o fa-stack-2x"></i>
      <a href="https://www.facebook.com/jose.cortez.378">
        <i class="fa fa-facebook fa-icon fa-stack-1x"></i>
      </a>
    </span>

    <span class="fa-stack fa-lg fa-white-icon">
      <i class="fa fa-square-o fa-stack-2x"></i>
      <a href="https://twitter.com/jospCortez">
        <i class="fa fa-twitter fa-icon fa-stack-1x"></i>
      </a>
    </span>
    <span class="fa-stack fa-lg fa-white-icon">
      <i class="fa fa-square-o fa-stack-2x"></i>
      <a href="https://pt.linkedin.com/in/jospcortez">
        <i class="fa fa-linkedin fa-icon fa-stack-1x"></i>
      </a>
    </span>
    <span class="fa-stack fa-lg fa-white-icon">
      <i class="fa fa-square-o fa-stack-2x"></i>
      <a href="https://github.com/ProxyPrint">
        <i class="fa fa-github fa-icon fa-stack-1x"></i>
      </a>
    </span>

  </div>

  <div class="footer-left">

    <p class="footer-links">
      <a href="http://www.louisvuitton.com/">Início</a> ·
      <a href="https://pt.wikipedia.org/wiki/Tautologia_(l%C3%B3gica)">Sobre nós</a> ·
      <a href="https://www.youtube.com/watch?v=7ZHa_ZOV6C8">Contacto</a>
    </p>

    <p>ProxyPrint &copy; 2016</p>
  </div>

</footer>

<!--/.container-->

<script type="text/javascript">
  $(document).ready(function() {
    $("#notificationLink").click(function() {
      $("#notificationContainer").fadeToggle(300);
      $("#notification_count").fadeOut("slow");
      return false;
    });

    //Document Click hiding the popup
    $(document).click(function() {
      $("#notificationContainer").hide();
    });

    //Popup on click
    $("#notificationContainer").click(function() {
      return false;
    });

  });
</script>
