<div class="settings-container">
  <div class="center" style="margin-bottom:5%">
    <h1>Definições</h1>
  </div>
    <form role="form">
        <div class="form-group">
            <input type="email" placeholder="E-mail" class="form-control" id="email">
        </div>
        <div class="form-group">
            <input type="password" placeholder="Nome" class="form-control" id="pwd">
        </div>
        <div class="form-group">
            <input type="password" placeholder="Password" class="form-control" id="pwd">
        </div>
        <div class="form-group">
            <input type="password" placeholder="Password" class="form-control" id="pwd">
        </div>
        <div class="center">
           <button type="submit" class="button button-rounded button-primary">Guardar</button>
        </div>
    </form>
</div>
