<div class="container">
	<h2>Reprografias</h2>
	<div class="row">
		<!-- prinshops selection -->
		<div class="col-md-8">
			<div class="table-responsive" style="height: 250px;">
				<table class="table">
					<thead>
						<tr>
							<th style="width: 25%;">Reprografia</th>
							<th style="width: 45%;">Morada</th>
							<th style="width: 20%;">Distância</th>
							<th style="width: 5%"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="printshop in selectedPrintShops" class="animate-row">
							<td>{{printshop.name}}</td>
							<td>{{printshop.address}}</td>
							<td>{{printshop.distance}} km</td>
							<td><a href="" ng-click="removePrintShop($index)"><i class="fa fa-times"></i></a></td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- printshops counter -->
			<div style="float: right;">
				<strong>{{totalSelectedPrintShops}} de 5</strong>
			</div>
			<hr/>
			<!-- checbox -->
			<label>
				<input type="checkbox" id="distance" name="distance" ng-model="showDistance"/>
				Filtrar por distância
			</label>
			<!-- slider -->
			<div class="animate-show-slider" ng-show="showDistance">
				<rzslider rz-slider-model="distanceSlider.value"
				rz-slider-high="distanceSlider.maxValue"
				rz-slider-options="distanceSlider.options" style="margin-top: 6%;"></rzslider>
			</div>
			<!-- selection -->
			<div style="margin-top: 2%;">
				<ui-select ng-model="selected.value" on-select="addPrintShop($item)" ng-disabled="totalSelectedPrintShops==5">
					<ui-select-match placeholder="Selecione ou procure uma reprografia" on-select="addPrintShop()">
						<span ng-bind="formatPrinShopForOption($select.selected)"></span>
					</ui-select-match>
					<ui-select-choices repeat="printshop in (printShopsOptions | filter: $select.search) track by printshop.id" on-select="addPrintShop()">
						<span ng-bind="formatPrinShopForOption(printshop)"></span>
					</ui-select-choices>
				</ui-select>
			</div>
		</div>
		<!-- list of submited files -->
		<div class="col-md-3">
			<h4>Ficheiro Submetidos</h4>
			<div class="scrollableTable">
				<ul class="list-group">
					<li class="list-group-item clearfix">
						<strong>file1.pdf</strong>
					</li>
					<li class="list-group-item clearfix">
						<strong>file2.pdf</strong>
					</li>
					<li class="list-group-item clearfix">
						<strong>file3.pdf</strong>
					</li>
					<li class="list-group-item clearfix">
						<strong>file4.pdf</strong>
					</li>
					<li class="list-group-item clearfix">
						<strong>file4.pdf</strong>
					</li>
					<li class="list-group-item clearfix">
						<strong>file4.pdf</strong>
					</li>
					<li class="list-group-item clearfix">
						<strong>file4.pdf</strong>
					</li>
					<li class="list-group-item clearfix">
						<strong>file4.pdf</strong>
					</li>
					<li class="list-group-item clearfix">
						<strong>file4.pdf</strong>
					</li>
					<li class="list-group-item clearfix">
						<strong>file4.pdf</strong>
					</li>
					<li class="list-group-item clearfix">
						<strong>file4.pdf</strong>
					</li>
					<li class="list-group-item clearfix">
						<strong>file4.pdf</strong>
					</li>
					<li class="list-group-item clearfix">
						<strong>file4.pdf</strong>
					</li>
					<li class="list-group-item clearfix">
						<strong>file4.pdf</strong>
					</li>
					<li class="list-group-item clearfix">
						<strong>file4.pdf</strong>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- flow navigation buttons -->
<div class="row" style="margin-top:2%;">
	<div class="col-md-8">
		<div class="left">
			<button ui-sref="consumer" style="margin:20px;" type="button" class="btn btn-default"><i class="fa fa-arrow-left"></i> Anterior</button>
		</div>
	</div>
	<div class="col-md-3">
		<div class="right">
			<button style="margin:20px 0;" type="button" class="btn btn-default">Seguinte <i class="fa fa-arrow-right"></i></button>
		</div>
	</div>
</div>
