<div class="container">
	<h2>Orçamentos</h2>
	<h4>Selecione uma reprografia para finalizar o pedido</h4>
	<div class="row" style="margin-top:2%;">
		<!-- prinshops selection -->
		<div class="col-md-8">
			<div class="table-responsive" style="height: 250px;">
				<table class="table" ng-disabled="amount!==0.0">
					<thead>
						<tr>
							<th style="width: 25%;">Reprografia</th>
							<th style="width: 15%;">Distância</th>
							<th style="width: 50%">Preço</th>
							<th style="width: 10%"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="printshop in selectedPrintShops" class="animate-row">
							<td>{{printshop.name}}</td>
							<td>{{printshop.distance}} km</td>
							<td>{{printshop.budget}}  <span ng-if="printshop.hasBudget==true">€</span></td>
							<td><input ng-if="printshop.hasBudget==true" type="radio" name="theChosenOne" ng-model="$parent.$parent.theChosenOne" value="printshop.id" ng-value="printshop.id"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- submited files -->
		<div class="col-md-3">
			<h4>Ficheiro Submetidos</h4>
			<div class="scrollableTable">
				<ul class="list-group">
					<li class="list-group-item clearfix" ng-repeat="file in submitedFilesNames" style="overflow-x:hidden;">
						<strong>{{file}}</strong>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<center><button type="button" class="btn btn-primary btn-md hvr-bob" ng-disabled="amount!==0.0" ng-click="finishPrintRequest()">Escolher orçamento</button></center>
	<!-- ./submited files-->
	<!-- flow navigation buttons -->
	<div class="row" style="margin-top:4%;">
		<div class="col-md-6">
			<div class="left">
				<button ui-sref="consumer.printshopselection" type="button" class="btn btn-default"><i class="fa fa-arrow-left"></i> Anterior</button>
			</div>
		</div>
		<div class="col-md-6">
			<div class="right">
				<div ng-hide="amount==0.0">
					<!-- paypal-button -->
					<form method="post" action="https://www.sandbox.paypal.com/cgi-bin/webscr" class="paypal-button" style="opacity: 1;" target="_blank">
						<div class="hide" id="errorBox"></div>
						<input type="hidden" name="button" value="buynow">
						<input type="hidden" name="business" value="T4F6X2XSAETNL">
						<input type="hidden" name="item_name" value="Pedido de impressao ProxyPrint">
						<input type="hidden" name="quantity" value="1">
						<input type="hidden" name="amount" ng-model="amount" value="{{amount}}">
						<input type="hidden" name="currency_code" value="EUR">
						<input type="hidden" name="shipping" value="0">
						<input type="hidden" name="tax" value="0">
						<input type="hidden" name="notify_url" value="{{payPalCallbackUrl}}">
						<input type="hidden" name="env" value="www.sandbox">
						<input type="hidden" name="cmd" value="_xclick">
						<input type="hidden" name="bn" value="JavaScriptButton_buynow">
						<button type="submit" class="btn btn-default"><i class="fa fa-paypal" aria-hidden="true"></i>  Pagar e terminar pedido  <i class="fa fa-arrow-right"></i></button>
					</form>
					<!-- ./paypal-button -->
				</div>
			</div>
		</div>
	</div>
</div>
