
<div class="modal-header">
    <h3> Intervalo de páginas a imprimir. </h3>
</div>
<div class="modal-body" style="text-align:left" ng-init="content='stapled'">
    <div class="form-group" style="margin-left:5%;">
        <input type="radio" name="content" ng-model="content" value="stapled" style="margin-right:1%;">
        Documento Completo
    </div>
    <div class="form-group" style="margin-left:5%;">
        <input type="radio" name="content" ng-model="content" value="enc" style="margin-right:1%;">
        Intervalo de Páginas
    </div>

    <div class="form-group center" ng-show="content == 'enc'">
        De: <input type="number" name="init" ng-model="init" min="0" required style="margin-right:1%;">
        Até: <input type="number" name="end" ng-model="end" min="0" required>
    </div>
</div>

<div class="modal-footer" style="text-align:center">
    <button class="button button-rounded button-primary" type="button"
    ng-disabled="(!init || !end || init > end) && content!='stapled'"
        ng-click="performAction()">Ok</button>
    <button class="button button-rounded button" type="button" ng-click="closeModal()">Voltar</button>
</div>
