<div class="modal-header">
    <div class="center">
        <h2>Avaliação</h2>
    </div>
</div>
<div class="modal-body" style="text-align:center">
    <div star-rating rating-value="score" max="5" read-only="false"></div>
    <textarea class="form-control animated" cols="50" placeholder="Deixa a tua avaliação..." rows="5" ng-model="content"></textarea>
</div>
<div class="modal-footer" style="text-align:center">
  <div class="button button-rounded button-primary" ng-click="reviewPrintshop()">Avaliar</div>
  <div class="button button-rounded button" ng-click="closeModal()">Fechar</div>
</div>
</div>
