<div class="modal-header">
</div>
<div class="modal-body" style="text-align:center">
    <div class="row">

        <div class="col-sm-4">
            <div class="form-group">
                <label for="spec-format">Formato:</label>
                <select class="form-control" ng-model="format" id="spec-format" style="margin: 0 auto;">
                    <option>A1</option>
                    <option>A2</option>
                    <option>A3</option>
                    <option>A4</option>
                </select>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="spec-format">Lados:</label>
                <select class="form-control" ng-model="format" id="spec-format" style="margin: 0 auto;">
                    <option>A1</option>
                    <option>A2</option>
                    <option>A3</option>
                    <option>A4</option>
                </select>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="spec-format">Cores:</label>
                <select class="form-control" ng-model="format" id="spec-format" style="margin: 0 auto;">
                    <option>A1</option>
                    <option>A2</option>
                    <option>A3</option>
                    <option>A4</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer" style="text-align:center">
    <button class="btn btn-primary btn-flat" type="button" ng-click="performAction()">Adicionar especificação</button>
    <button class="btn btn-default btn-flat" type="button" ng-click="closeModal()">Cancelar</button>
</div>
</div>
