<div class="modal-header">
</div>
<div class="modal-body" style="text-align:center">
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="spec-format">Formato</label>
                <select required class="form-control" ng-model="format" id="spec-format">
                    <option>A1</option>
                    <option>A2</option>
                    <option>A3</option>
                    <option>A4</option>
                </select>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="spec-sides">Lados</label>
                <select required class="form-control" ng-model="sides" id="spec-sides">
                    <option>Frente</option>
                    <option>Frente e verso</option>
                </select>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="spec-colors">Cores</label>
                <select required class="form-control" ng-model="colors" id="spec-colors">
                    <option>Preto e branco</option>
                    <option>Tons de cinza</option>
                    <option>A cores</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div style="margin-left:25%; margin-right:25%">
    <hr />
</div>
<div class="center">
    <strong>Acabamentos</strong>
    <br />
    <label class="radio-inline">
        <input type="radio" name="content" ng-model="content" value="enc">Encadernar</label>
    <label class="radio-inline">
        <input type="radio" name="content" ng-model="content" value="stapled">Agrafar</label>
    <div ng-show="content == 'enc'">
        <div class="finishingOptions">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="spec-cover">Capa</label>
                        <select required class="form-control" ng-model="cover" id="spec-cover">
                            <option>Acetato em cristal</option>
                            <option>PVC transparente fosco</option>
                            <option>PVC opaco</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="spec-args">Tipo de argolas</label>
                        <select required class="form-control" ng-model="args" id="spec-args">
                            <option>Argolas de plástico</option>
                            <option>Argolas em espiral</option>
                            <option>Argolas de arame</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer" style="text-align:center">
    <button class="btn btn-primary btn-flat" type="button"
        ng-disabled="!((format&&sides&&colors&&(content=='stapled'))||(format&&sides&&colors&&cover&&args)||(format&&sides&&colors))"
        ng-click="performAction()">Adicionar especificação</button>
    <button class="btn btn-default btn-flat" type="button" ng-click="closeModal()">Cancelar</button>
</div>
