<div class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">

    <!-- Main Header -->
    <header class="main-header">

      <!-- Logo -->
      <a class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>PP</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Proxy</b>Admin</span>
      </a>

      <!-- Header Navbar -->
      <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="" class="sidebar-toggle" data-toggle="offcanvas" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <li>
              <a href="" ng-click="logout()"><i style="font-size: 16px;" class="fa fa-sign-out"></i> Log out</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">

      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">

        <!-- Sidebar user panel (optional) -->
        <div class="user-panel">
          <div class="pull-left image">
            <img src="assets/img/logo/logo_blue.png" class="img-circle" alt="User Image">
          </div>
          <div class="pull-left info" style="margin-top:4%;">
            <p>{{admin.username}}</p>
          </div>
        </div>

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu">
          <li class="header"><i style="margin-right:6%;" class="fa fa-database" aria-hidden="true"></i>  {{balance.integerPart}}.{{balance.fractionalPart}} €</li>
          <!-- Optionally, you can add icons to the links -->
          <li ng-class="navigation['requests']"><a ui-sref=".requests" ng-click="navigate('requests')"><i class="fa fa-hourglass-half"></i> <span>Reprografias Pendentes</span></a></li>
          <li ng-class="navigation['printshops']"><a ui-sref=".printshops" ng-click="navigate('printshops')"><i class="fa fa-history"></i> <span>Consultar Reprografias </span></a></li>
        </ul><!-- /.sidebar-menu -->
      </section>
      <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <section class="content">
        <div ui-view></div>
      </section>
    </div><!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer">
      <!-- To the right -->
      <div class="pull-right hidden-xs">
        ProxyPrint
      </div>
      <!-- Default to the left -->
      <strong>Copyright &copy; 2016 ProxyPrint.</strong> Todos os direitos reservados.
    </footer>

  </div><!-- ./wrapper -->
</div>

<!-- AdminLTE -->
<!-- jQuery 2.1.4 -->
<script src="/assets/adminlte/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<!-- Bootstrap 3.3.5 -->
<script src="/assets/adminlte/bootstrap/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="/assets/adminlte/dist/js/app.min.js"></script>
