<!-- Content Wrapper. Contains page content -->
<div>

    <h1 class="content-header">
        Pedido de Registo
    </h1>

    <div class="box box-widget widget-user">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-aqua-active">
            <h3 class="widget-user-username">{{selectedRequest.name}}</h3>
            <h5 class="widget-user-desc">{{selectedRequest.address}}</h5>
        </div>
        <div class="widget-user-image">
            <img class="img-circle" src="../../../../assets/adminlte/dist/img/user1-128x128.jpg" alt="User Avatar">
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-sm-4 border-right">
                    <div class="description-block">
                        <h5 class="description-header">{{selectedRequest.manager}}</h5>
                        <span class="description-text">Manager</span>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4 border-right">
                    <div class="description-block">
                        <h5 class="description-header">{{selectedRequest.email}}</h5>
                        <span class="description-text">Email</span>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-4">
                    <div class="description-block">
                        <h5 class="description-header">{{selectedRequest.registerDate}}</h5>
                        <span class="description-text">Data de pedido</span>
                    </div>
                    <!-- /.description-block -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
    </div>

    <div>
        <center>
            <a ng-click='accept()' class="btn btn-success"><i class="fa fa-check" style="margin-right: 0.2em;"></i>Aceitar</a>
            <a ng-click="openModal('Tem a certeza que quer rejeitar o pedido?')" class="btn btn-danger"><i class="fa fa-times" style="margin-right: 0.2em;"></i>Rejeitar</a>
        </center>
    </div>
    {{answer}}
</div>
