<section class="content-header">
  <h1>
    Lista de Reprografias
  </h1>
</section>

<!-- Main content -->
<div class="box-body">
  <input type="text" class="form-control input-sm" placeholder="Procure uma Reprografia...">
</div>
<!-- Your Page Content Here -->
<div class="box">
  <div class="box-body table-responsive no-padding">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Data de Admissão</th>
          <th>Data de Registo</th>
          <th>Coordenador</th>
          <th>Acções</th>
        </tr>
        <tr ng-repeat="pshop in printshops">
          <td><b>{{pshop.id}}</b></td>
          <td>{{pshop.name}}</td>
          <td>{{pshop.admissionDate}}</td>
          <td>{{pshop.registerDate}}</td>
          <td>{{pshop.manager}}</td>
          <td><a ng-click='consult()' class="btn btn-success"><i class="fa fa-search" style="margin-right: 0.2em;"></i>Consultar</a>
          <a ng-click='delete()' class="btn btn-danger"><i class="fa fa-times" style="margin-right: 0.2em;"></i>Eliminar</a></td>
        </tr>
        {{answer}}
      </tbody>
    </table>
    <div class="box-footer clearfix">
      <ul class="pagination pagination-sm no-margin pull-right">
        <li><a href="">«</a></li>
        <li><a href="">1</a></li>
        <li><a href="">2</a></li>
        <li><a href="">3</a></li>
        <li><a href="">»</a></li>
      </ul>
    </div>
  </div>
</div>
