<div class="modal-header" style="text-align:center">
    <h4>Indique o motivo</h4>
</div>
<div  class="modal-body">
    <textarea style="margin: 0px; width: 568px; height: 125px; resize: none;" ng-model="motive" ng-minlength="10" required> </textarea>
</div>
<div class="modal-footer" style="text-align:center">
    <button ng-hide="!motive" class="btn btn-success" type="button" ng-click="performAction()">Confirmar</button>
    <button class="btn btn-danger" type="button" ng-click="closeModal()">Retroceder</button>
</div>
</div>
