<!-- Content Header (Page header) -->
<section class="content-header">

  <!-- evals counter -->
  <div style="float: right;">
    <div class="info-box">
      <span class="info-box-icon bg-yellow"><i class="fa fa-star-o"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">Avaliações</span>
        <span class="info-box-number">410</span>
        <span>Veja as opiniões dos seus clientes.</span>
      </div>
    </div>
  </div> <!-- /.evals counter -->

  <!-- header -->
  <div class="box box-widget widget-user">
    <div class="widget-user-header bg-aqua-active">
      <h3 class="widget-user-username">Video Norte</h3>
      <h5 class="widget-user-desc">Rua Nova de Santa Cruz, nº 49 Braga</h5>
    </div>
    <div class="widget-user-image">
      <img class="img-circle" src="../../../../assets/adminlte/dist/img/user2-160x160.jpg" alt="User Avatar">
    </div>
    <div class="box-footer">
      <div class="row">
        <div class="col-sm-4 border-right">
          <div class="description-block">
            <h5 class="description-header">143</h5>
            <span class="description-text">Avaliações</span>
          </div>
        </div>
        <div class="col-sm-4 border-right">
          <div class="description-block">
            <h5 class="description-header">4,6</h5>
            <span class="description-text">Rating</span>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="description-block">
            <h5 class="description-header">335</h5>
            <span class="description-text">Likes</span>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- ./header -->


  <div style="height: 400px; overflow: auto;">
    <ul class="timeline">

      <li class="time-label">
        <span class="bg-blue">
          10 Abr. 2016
        </span>
      </li>

      <li>
        <i class="fa fa-star bg-yellow"></i>
        <div class="timeline-item">
          <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>

          <h3 class="timeline-header"><a href="#">João Silva</a>  <i class="icon-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></h3>

          <div class="timeline-body">
            Muito fixe o serviço! Mesmo.
          </div>
        </div>
      </li>

      <li>
        <i class="fa fa-star bg-yellow"></i>
        <div class="timeline-item">
          <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>

          <h3 class="timeline-header"><a href="#">Joana Amaral</a> <i class="fa fa-star"></i><i class="fa fa-star"></i></h3>

          <div class="timeline-body">
            Muito fixe o serviço! Mesmo. Muito fixe o serviço! Mesmo. Muito fixe o serviço! Mesmo.
          </div>
        </div>
      </li>
      
    </ul>
  </div>

</section>
