<center>
    <h1>{{printshop.name}}</h1>
    <br /> {{printshop.address}}
</center>
<div class="right">
  <div star-rating rating-value="printshop.rating" max="5" read-only="true"></div>
</div>

<div id="map-canvas"></div>

<div class="map-canvas-offset">
    <div class="reviews-box">
        <div class="center">
            <h2>Avaliações</h2>
        </div>
        <ul class="list-group">
            <div class="list-group-item" ng-repeat="review in printshop.reviews">
                <div class="row">
                    <div class="col-sm-4">
                        <strong>{{review.username}}</strong>:
                        <hr class="review" />
                    </div>
                    <div class="col-sm-4">

                    </div>
                    <div class="col-sm-4">
                        <div class="right">
                            <div star-rating rating-value="review.rating" max="5" read-only="true"></div>
                        </div>
                    </div>
                    <div class="review-content">
                        {{review.description}}
                    </div>

                </div>
        </ul>
        </div>
    </div>
</div>
