<section class="header">
  <h1>Estatísticas <small>Estatísticas do seu negócio</small></h1>
</section>
<div class="row" style="margin-top:2%;">
  <!-- fix for small devices only -->
  <div class="clearfix visible-sm-block"></div>

  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-green"><i class="ion ion-checkmark"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">Total de Pedidos Satisfeitos</span>
        <span class="info-box-number">{{stats.nFinished}}</span>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-orange"><i class="ion ion-clock"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Pedidos Pendetes</span>
        <span class="info-box-number">{{stats.nPendingRequests}}</span>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-blue"><i class="ion ion-more"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Pedidos em Andamento</span>
        <span class="info-box-number">{{stats.nInProgressRequests}}</span>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-green"><i class="ion ion-cash"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Lucro</span>
        <span class="info-box-number">{{stats.pshopProfit}} €</span>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Total de Empregados</span>
        <span class="info-box-number">{{stats.nEmployees}}</span>
      </div>
    </div>
  </div>
</div>
</div>
