<!-- Navigation -->
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle">
   <i class="fa fa-bars"></i>
</a>
<nav id="sidebar-wrapper">
   <ul class="sidebar-nav">
      <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle">
         <i class="fa fa-times"></i>
      </a>
      <li class="sidebar-brand">
         <a href="#top" onclick=$("#menu-close").click();>ProxyPrint</a>
      </li>
      <li>
         <a href="#top" onclick=$("#menu-close").click();>Home</a>
      </li>
      <li>
         <a href="#about" onclick=$("#menu-close").click();>About</a>
      </li>
      <li>
         <a href="#services" onclick=$("#menu-close").click();>Services</a>
      </li>
      <li>
         <a href="#us" onclick=$("#menu-close").click();>Who we are</a>
      </li>
   </ul>
</nav>

<!-- Header -->
<header id="top" class="header">
   <div class="text-vertical-center">
      <h1>ProxyPrint</h1>
      <br>
      <a href="#login" class="btn btn-dark btn-lg">Get Started</a>
   </div>
</header>

<!-- About -->
<section id="about" class="about">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 text-center">
            <h2>Tired of long waiting times at print shops?
            </h2>
            <p class="lead">Join us and be able to submit requests to whatever print shop suits you the best. After your request is sent, just sit back and wait while the print shop employees take care of it. All of this on your computer. When it's ready, you'll be notified.</p>
         </div>
      </div>
      <!-- /.row -->
   </div>
   <!-- /.container -->
</section>

<!-- Services -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<section id="services" class="services bg-primary">
   <div class="container">
      <div class="row text-center">
         <div class="col-lg-10 col-lg-offset-1">
            <h2>What we offer</h2>
            <hr class="small">
            <div class="row">
               <div class="col-md-3 col-sm-6">
                  <div class="service-item">
                     <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-cloud fa-stack-1x text-primary"></i>
                     </span>
                     <h4>
                        <strong>All print shops in ONE online platform... for free!</strong>
                     </h4>
                     <p>Here you'll have online access to a vast amount of print shops, making it easier for you to choose one.</p>
                     <a href="#" class="btn btn-light">Learn More</a>
                  </div>
               </div>
               <div class="col-md-3 col-sm-6">
                  <div class="service-item">
                     <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-upload fa-stack-1x text-primary"></i>
                     </span>
                     <h4>
                        <strong>Submit your request online</strong>
                     </h4>
                     <p>Upload your files, choose its specification and submit the request. It's that simple.</p>
                     <a href="#" class="btn btn-light">Learn More</a>
                  </div>
               </div>
               <div class="col-md-3 col-sm-6">
                  <div class="service-item">
                     <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-euro  fa-stack-1x text-primary"></i>
                     </span>
                     <h4>
                        <strong>Compare prices</strong>
                     </h4>
                     <p>You can compare how much it would take to print your request on several print shops, enabling you to save money.</p>
                     <a href="#" class="btn btn-light">Learn More</a>
                  </div>
               </div>
               <div class="col-md-3 col-sm-6">
                  <div class="service-item">
                     <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-star-half-o fa-stack-1x text-primary"></i>
                     </span>
                     <h4>
                        <strong>Rate the print shops</strong>
                     </h4>
                     <p>You can check a print shop's credibility and even be a part of the process by rating it.</p>
                     <p><a href="#top" ui-sref="printshop" style="color: white;">És uma reprografia e queres saber mais cenas? #ClicaAqui!</a></p>
                     <a href="#" class="btn btn-light">Learn More</a>
                  </div>
               </div>
            </div>
            <!-- /.row (nested) -->
         </div>
         <!-- /.col-lg-10 -->
      </div>
      <!-- /.row -->
   </div>
   <!-- /.container -->
</section>

<!-- Callout -->

<section id="login">
   <aside class="callout">
      <div class="form-container">
         <div ng-show="error" class="alert alert-danger">{{error}}</div>
         <form name="form" ng-submit="login()" role="form">
            <div class="form-group">
               <label for="username">Username</label>
               <input type="text" name="username" id="username" class="form-control" ng-model="username" required/>
               <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
            </div>
            <div class="form-group">
               <label for="password">Password</label>
               <i class="fa fa-lock"></i>
               <input type="password" name="password" id="password" class="form-control" ng-model="password" required/>
               <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
            </div>
            <div class="form-actions">
               <div class="login-button">
                  <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-primary">Login</button>
                  <img
                     ng-if="dataLoading"
                     src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                     <br>
                     <small> Not registered yet? <a ui-sref="register">Sign up!</a></small>
               </div>
            </div>
         </form>
      </div>


   </aside>

</section>

<!-- Footer -->
<footer>
   <section id="us">
      <div class="container">
         <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
               <h4>
                  <strong>ProxyPrint</strong>
               </h4>
               <p>José Cortez<br>Daniel Caldas<br>José Francisco<br>Marcelo Gonçalves</p>
               <ul class="list-unstyled">
                  <li>
                     <i class="fa fa-envelope-o fa-fw"></i>
                     <a href="mailto:name@example.com">name@example.com</a>
                  </li>
               </ul>
               <br>
               <ul class="list-inline">
                  <li>
                     <a href="https://www.facebook.com/Professor-Chibanga-Maomam%C3%A9-Acrabunda-174703292553718">
                        <i class="fa fa-facebook fa-fw fa-3x"></i>
                     </a>
                  </li>
                  <li>
                     <a href="https://twitter.com/TheTweetOfGod">
                        <i class="fa fa-twitter fa-fw fa-3x"></i>
                     </a>
                  </li>
                  <li>
                     <a href="https://github.com/ProxyPrint">
                        <i class="fa fa-github fa-fw fa-3x"></i>
                     </a>
                  </li>
               </ul>
               <hr class="small">
               <p class="text-muted">Copyright &copy; ProxyPrint</p>
            </div>
         </div>
      </div>
   </section>
</footer>

<!-- Custom Theme JavaScript -->
<script>
   // Closes the sidebar menu
   $("#menu-close").click(function (e) {
      e.preventDefault();
      $("#sidebar-wrapper").toggleClass("active");
   });

   // Opens the sidebar menu
   $("#menu-toggle").click(function (e) {
      e.preventDefault();
      $("#sidebar-wrapper").toggleClass("active");
   });

   // Scrolls to the selected menu item on the page
   $(function () {
      $('a[href*=#]:not([href=#])').click(function () {
         if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

            var target = $(this.hash);
            target = target.length
               ? target
               : $('[name=' + this.hash.slice(1) + ']');
            if (target.length) {
               $('html,body').animate({
                  scrollTop: target.offset().top
               }, 1000);
               return false;
            }
         }
      });
   });
</script>
