<div class="container container-margintop">
  <center><a ui-sref="home" class="hvr-pulse"><img src="/assets/img/logo/logo_blue_dark.png" width="120" height="120"/></a></center>
  <center><h3 class="title">Registe-se gratuitamente e experimente o ProxyPrint ainda hoje!</h3></center>
</div>
<center><div style="width: 70%;"><hr class="gradient"></div></center>
<div class="container" style="margin-top:2%; width: 50%;">
  <div class="form-container">
    <form name="form" ng-submit="register()" role="form">
      <div class="row">
        <div class="col-md-6">
          <div ng-show="error" class="alert alert-danger">{{error}}</div>
          <div class="form-group">
            <input fore="managerUsername" type="text" class="form-control" ng-model="managerUsername" placeholder="Username" required/>
            <span ng-show="form.managerUsername.$dirty && form.managerUsername.$error.required" class="help-block">Necessário colocar o username</span>
          </div>
          <div class="form-group">
            <input name="managerPassword" type="password" class="form-control" ng-model="managerPassword" placeholder="Password" required/>
            <span ng-show="form.managerPassword.$dirty && form.managerPassword.$error.required" class="help-block">Necessário colocar a password</span>
          </div>
          <h4 class="text" style="margin-top: 10%;">De que está à espera para tornar o seu dia mais produtivo.</h4>
          <h4 class="text">Aproveite ao máximo o potencial do seu negócio, fique mais acessível aos seus clientes.</h4>
        </div>
        <div class="col col-md-6">
          <div class="form-group">
            <input fore="managerName" type="text" class="form-control" ng-model="managerName" placeholder="Nome" required/>
            <span ng-show="form.managerName.$dirty && form.managerName.$error.required" class="help-block">Necessário colocar o nome</span>
          </div>
          <div class="form-group">
            <input name="managerEmail" type="email" class="form-control" ng-model="managerEmail" placeholder="Email" required/>
            <span ng-show="form.managerEmail.$dirty && form.managerEmail.$error.required" class="help-block">Necessário colocar o email</span>
          </div>
          <div class="form-group">
            <input name="pShopName" type="text" class="form-control" ng-model="pShopName" placeholder="Nome da Reprografia" required/>
            <span ng-show="form.pShopName.$dirty && form.pShopName.$error.required" class="help-block">Necessário colocar o nome da reprografia</span>
          </div>
          <div class="form-group">
            <input name="pShopAddress" type="text" class="form-control" ng-model="pShopAddress" placeholder="Morada" required/>
            <span ng-show="form.pShopAddress.$dirty && form.pShopAddress.$error.required" class="help-block">Necessário colocar a morada</span>
          </div>
          <div class="form-group">
            <input name="pShopNIF" type="text" class="form-control" ng-model="pShopNIF" placeholder="NIF" required/>
            <span ng-show="form.pShopNIF.$dirty && form.pShopNIF.$error.required" class="help-block">Necessário colocar o NIF</span>
          </div>
          <hr class="gradient">
          <div class="form-actions">
            <div class="login-button">
              <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-primary btn-lg" style="width: 100%;">Registar</button>
              <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
              />
              <br>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
