<div class="modal-header">
  {{text}}
  <br/>
  <small>Caso não pretenda preencher algum dos campos simplesmente o deixe em branco.</small>
</div>
<div class="modal-body" style="text-align:center;">
  <!-- Quantity -->
  <div class="row">
    <div class="col col-sm-1">
      <label style="float: left;">Quantidade</label>
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-1">De</div>
    <div class="col col-sm-3">
      <input type="number" class="form-control input-sm" min="0" ng-model="infLim">
    </div>
    <div class="col col-sm-1">até</div>
    <div class="col col-sm-3">
      <input type="number" class="form-control input-sm" min="0" ng-model="supLim">
    </div>
  </div>
  <!-- ./Quantity -->
  <!-- A4 -->
  <div class="row">
    <div class="col col-sm-10">
      <label style="float: left;">A4</label>
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-2">1 Lado</div>
    <div class="col col-sm-3">
      <input type="number" class="form-control input-sm" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" min="0" placeholder="€" ng-model="priceA4SIMPLEX">
    </div>
    <div class="col col-sm-2">2 Lados</div>
    <div class="col col-sm-3">
      <input type="number" class="form-control input-sm" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" min="0" placeholder="€" ng-model="priceA4DUPLEX">
    </div>
  </div>
  <!-- ./A4 -->
  <!-- A3 -->
  <div class="row" style="margin-top: 2%;">
    <div class="col col-sm-10">
      <label style="float: left;">A3</label>
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-2">1 Lado</div>
    <div class="col col-sm-3">
      <input type="number" class="form-control input-sm" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" min="0" placeholder="€" ng-model="priceA3SIMPLEX">
    </div>
    <div class="col col-sm-2">2 Lados</div>
    <div class="col col-sm-3">
      <input type="number" class="form-control input-sm" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01" min="0" placeholder="€" ng-model="priceA3DUPLEX">
    </div>
  </div>
  <!-- ./A3 -->
</div>
<!-- footer -->
<div class="modal-footer" style="text-align:center; margin-top: 4%;">
  <button class="btn btn-success btn-sm btn-flat" type="button" ng-click="addNewEntry()"><i class="fa fa-check" style="margin-right: 2%;"/>Adicionar</button>
  <button class="btn btn-danger btn-sm btn-flat" type="button" ng-click="closeModal()"><i class="fa fa-times" style="margin-right: 2%;"/>Cancelar</button>
</div>
<!-- ./footer -->
